.HeroSectionContainer{
    position: relative;
    overflow: hidden;

   
}

.HeroSectionBgImg{
    z-index: -1;
}

.HeroSectionBgImg > img{
    width: 100%;
}

.HeroSectionLeftText{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px 10px;
    margin-top: 60px;
    margin-left: 50px;
    width: 30%;
}

.HeroSectionLeftText > h1{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #000000;
    margin: 0px 0;
    font-family: "Comfortaa", sans-serif;

    
}

.HeroSectionLeftText > h1 > span{
    color: #3B82F6;
}

.HeroSectionLeftText > p{
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Comfortaa", sans-serif;
    font-style: normal;     
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #393838;
    margin: 0;
}

/* .ContactRightSectionHome{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 60px;
    margin-left: 1020px;
    width: 31%;
    height: 600px;
}
@media screen and (max-width: 1300px){
    .ContactRightSectionHome{
        width: 40%;
        margin-left: 800px;
        padding-bottom: 80px;
        
    }
    .ContactRightSectionHome > p{
        color: #4b5971;
        font-size: 10px; 
        padding: 2px 0;
    }
    
    .ContactRightSectionHome > input{
       
        width: 80%;
        padding: 2px 5px;
        font-size: 20px;
    }
    
  
    
} */

.ContactRightSectionHome > p{
    color: #4b5971;
    font-size: 20px; 
    padding: 2px 0;
}

.ContactRightSectionHome > input{
    border: 1px solid #808080;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
    font-size: 20px;
}

.ContactRightSectionHome > textarea{
    border: 1px solid #808080;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
} 



@media screen and (max-width: 1200px) {
        
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 48px;
        line-height: 44px;
    }

    .HeroSectionLeftText > p{
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
    }
   
}


@media screen and (max-width: 1000px) {
        
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

    .HeroSectionLeftText > p{
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
    }
}

@media screen and (max-width: 850px) {      
    .HeroSectionLeftText{
        margin-top: 100px;
        margin-left: 50px;
        width: 30%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
    
}

@media screen and (max-width: 650px) {      
    .HeroSectionLeftText{
        margin-top: 80px;
        margin-left: 45px;
        width: 30%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (max-width: 550px) {      
    .HeroSectionLeftText{
        margin-top: 50px;
        margin-left: 35px;
        width: 30%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (max-width: 420px) {      
    .HeroSectionLeftText{
        margin-top: 30px;
        margin-left: 25px;
        width: 30%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (max-width: 330px) {      
    .HeroSectionLeftText{
        margin-top: 30px;
        margin-left: 20px;
        width: 30%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
    }

     .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (max-width: 250px) {      
    .HeroSectionLeftText{
        margin-top: 30px;
        margin-left: 5px;
        width: 50%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 8px;
        line-height: 10px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}

@media screen and (max-width: 200px) {      
    .HeroSectionLeftText{
        margin-top: 30px;
        margin-left: 0px;
        width: 70%;
    }
    .HeroSectionLeftText > h1{
        font-weight: 700;
        font-size: 5px;
        line-height: 6px;
    }

    .HeroSectionLeftText > p{
        font-weight: 0;
        font-size: 0;
        line-height: 0;
    }
}




















.ContactRightSectionHome {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 60px;
    margin-left: 1020px;
    width: 31%;
    height: 600px;
}

@media screen and (max-width: 1300px) {
    .ContactRightSectionHome {
        width: 100%;
        margin-left: 800px;
        padding-bottom:60px;
        
    }


    .ContactRightSectionHome > input {
        width: 80%;
        padding: 5px 5px;
        font-size: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .ContactRightSectionHome {
        margin-left: 500px; 
        width: 500px;
     
        
    }
   
}
@media screen and (max-width: 1100px) {
    .ContactRightSectionHome {
        margin-left: 550px; 
    }
}

@media screen and (max-width: 1000px) {
    .ContactRightSectionHome {
        margin-left: 400px;
        
    }
    .HeroSectionContainer{
        height: 100%;
    }
}

@media screen and (max-width: 850px) {
    .ContactRightSectionHome {
        margin-left: 290px; 
    }
}

@media screen and (max-width: 750px) {
    .ContactRightSectionHome {
        margin-left: 100px; 
        display: none;
    }
}
