.ContactContainerDemo{
    display: flex;
    padding: 40px 40px;
}

.ContactContainerDemo > div{
    width: 50%;
    padding: 20px 20px;
  
}

.ContactLeftSection > h1 {
    color: #2C3C57;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 800;
    font-size: 60px;
    position: relative;
    padding: 10px 0;
    width: 450px;
}

.ContactLeftSection > h1::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 200px;
    margin: auto;
    left: 30px;
    border-radius: 10px;
    bottom: 0;
    background: #DD491A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ContactLeftSection > h1::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 100px;
    right: 110px;
    margin: auto;
    border-radius: 10px;
    bottom: 0;
    background: #2C3C57;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ContactLeftSection > p{
    color: #4b5971;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-weight: 500;
    font-size: 30px;
    padding: 5px 0;
}

.ContactLeftSectionContactDetails > p{
    color: #4b5971;
    font-weight: 500;
    font-size: 25px; 
    padding: 2px 0;;
}

.ContactLeftSectionContactDetails > p > span{
    font-weight: 700;
    padding-right: 1px;
}

.ContactLeftSectionIcons{
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
}

.ContactLeftSectionIcons > img{
    width: 65px;
    cursor: pointer;
}
.ContactRightSection > p{
    color: #4b5971;
    font-weight: 500;
    font-size: 20px; 
    padding: 2px 0;
}

.ContactRightSection > input{
    border: 1px solid #808080;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px;
    font-size: 20px;
}

.ContactRightSection > textarea{
    border: 1px solid #808080;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
} 

.glassons{
    height: 100%;
    width: 100%;
}

.textSize{
    font-size: 30px !important;
    margin-top: 30px;
}

@media screen and (max-width: 800px) {
    .ContactContainerDemo{
        flex-direction: column;
        padding: 30px 10px;
    }


    .ContactContainerDemo > div {
        width: 100%;
        padding: 20px 20px;
    }

    .ContactLeftSection > p{
        font-size: 25px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 470px) {
    .ContactLeftSection > h1 {
        font-size: 30px;
        width: 200px;
    }

    .ContactLeftSection > h1::before {
        height: 5px;
        width: 100px;
        left: 20px;
    }
    
    .ContactLeftSection > h1::after {
        height: 5px;
        width: 30px;
        right: 40px;
    }

    .ContactContainerDemo{
        flex-direction: column;
        padding: 0px 0px;
    }


    .ContactContainerDemo > div {
        width: 100%;
        padding: 20px 20px;
    }

    .ContactLeftSection > p{
        font-size: 25px;
        padding: 5px 0;
    }

}