.main-circle {
    width: 500px;
    height: 500px;
    position: relative;
    /* background-color: lightgray; */
    border: 10px solid black;
    border-radius: 50%;
  }
  
  .sub-circle {
    width: 110px;
    height: 110px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .sub-circle.hovered {
    background-color: red; /* You can change the color for the hovered circle */
  }
  
  .description {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-top: 200px;
  }
  