.ClientsCarousel {
    padding: 80px 10px;
    background: #EDEEFF;
}

.ClientsCarousel>h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 45px;
}

.ClientsCarousel>h1>span {
    /* border-top: 5px solid black; */
    padding: 5px 20px;
    font-weight: 600;
}

.carousel-inner {
    width: 95%;
    margin: auto;
}

.carousel-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-inner-cards {
    display: flex !important;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.carousel-control-prev {
    justify-content: left;
}

.carousel-control-next {
    justify-content: end;
}

.heading {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .heading {
        margin-top: -100px;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
    }
}