.container {
    width: 100%;
    padding: 8px;
    /* background-color: #000; */
    padding-bottom: 2px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 100%;
    }
  }
  
  .headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .videoSectionContainer {
    display: flex;
    padding: 20px;
    /* background-color: #000;  */

  }
  
  .videoSectionLeftSection {
    width: 50%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .videoSectionLeftSection .para{
    font-family:'Comfortaa, sans-serif';

  }
  .videoSectionRightSection {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 750px) {
    .videoSectionContainer {
      flex-direction: column;
    }
  
    .videoSectionLeftSection, .videoSectionRightSection {
      width: 100%;
      margin: 0;
    }
  }
  
/*  */

.videoSectionContainer{
    display: flex;
    padding: 80px 10px;
    /* background: #000000; */
}

.videoSectionContainer > div{
    width: 50%;
    /* padding: 10px 10px; */
}

.videoSectionLeftSection{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    text-align: left;
    color: #2d2c2c;
    /* padding: 10px 30px; */
    margin: 40px 5px;
}

.videoSectionLeftSection img{
    width: 85px;
    height: 85px;
    margin-right:30px;
  
}



.videoSectionLeftSection > p > span{
    color:#464646;
    
}

.videoSectionRightSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .videoSectionContainer{
        flex-direction: column-reverse;
        padding: 10px 0px;
    }

    .videoSectionContainer > div{
        width: 100%;
    }
        
    .videoSectionLeftSection{
        padding: 5px 5px;
        margin: 0 0px;
    }
}