.NavbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(90deg, #05080D 0%, rgba(5, 8, 13, 0.7) 100%); */
    /* background-color:#05080d;  */
    background: linear-gradient(to right,#05080d 10% , #35435f 90%) left;

   
    padding: 8px 5px;
    /* transform: translateY(-500px); */
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 10;
    /* font-family: 'Oswald', sans-serif */
}



.NavbarContainer > svg{
    margin: 0 10px;
    color: #FFFFFF;
    display: none;
}

.NavbarLogo{
    width: 10%;
}

.NavbarLogo > img{
    width: 100%;
}

.NavbarLinks{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 40px;
    font-family: 'Oswald', sans-serif
}

.NavbarLinks > li{
    list-style: none;
}

.NavbarLinks > li > a{
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 10px 10px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}

.NavbarLinks > li > a:hover{
    border: 2px solid #FFFFFF;
}

@media screen and (max-width: 1024px) {     
    .NavbarLinks > li > a{
        font-size: 16px;
    }
}

@media screen and (max-width: 790px) {    
        
    .NavbarLinks{
        width: 60%;
        margin-right: 30px;
    } 

    .NavbarLinks > li > a{
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {        
    .NavbarLogo{
        width: 15%;
    }    
    
    .NavbarLinks{
        display: none;
    }

    .NavbarContainer > svg{
        display: block;
    }
}