/* General Styles */
.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #090d14 10%, #35435f 90%);
  padding: 3rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.NavbarContainer>svg {
  margin: 0 10px;
  color: #ffffff;
  display: none;
}

.NavbarLogo {
  width: 10%;
}

.NavbarLogo>img {
  width: 100%;
}

.NavbarLinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 40px;
  font-family: 'gothic-book';
}

.NavbarLinks>li {
  list-style: none;
}

.NavbarLinks>li>a {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 8px 12px;
  border-radius: 33px;
  color: #ffffff;
  font-family: "gothic-book";
  font-style: normal;
  font-weight: 400;
  transition: border 0.3s, font-size 0.3s;
}

.NavbarLinks>li>a:hover,
.NavbarLinks>li>a.active {
  border: 2px solid #ffffff;
  border-radius: 33px;
}

/* Define the active style */
.NavbarLinks>li>a.active {
  border: 2px solid #ffffff;
  /* Example background color for the active state */
  color: #ffffff;
  /* Example text color for the active state */
}

/* Responsive Text Sizes */
.NavbarLinkText {
  font-family: 'Oswald, sans-serif';
}

@media screen and (min-width: 1300px) {
  .NavbarLinks>li {
    gap: ;
    /* Large devices */
  }

}

@media screen and (min-width: 1024px) {
  .NavbarLinks>li>a {
    font-size: 1.25rem;
    /* Large devices */
  }

}

@media screen and (max-width:1083) {
  .NavbarLinks>li>a {
    font-size: 1rem;
    /* Large devices */
  }
  
}

@media screen and (min-width: 1017px) and (max-width: 1272px) {
  .NavbarLinks>li>a {
    font-size: 1rem;
    /* Large devices */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .NavbarLinks>li>a {
    /* font-size: 0.95rem; */
    font-size: 16px;
    /* Medium devices (slightly smaller) */
  }

  .NavbarLinks>li>a {
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 4px 4px;
    color: #ffffff;
    font-family: "font-gothic-book";
    font-style: normal;
    font-weight: 400;
    transition: border 0.3s, font-size 0.3s;
  }
}

@media screen and (max-width: 767px) {
  .NavbarLinks {
    display: none;
  }

  .NavbarContainer>svg {
    display: block;
  }

  .NavbarLinks>li>a {
    font-size: 0.875rem;
    /* Small devices */
  }
}

@media screen and (max-width: 700px) {
  .NavbarLogo {
    width: 35%;
  }
}

@media screen and (max-width: 600px) {
  .NavbarLinks>li>a {
    font-size: 0.75rem;
    /* Extra small devices */
  }
}