.FooterContainer{
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(90deg, #05080D 0%, rgba(5, 8, 13, 0.7) 100%); */
    background: linear-gradient(to right, #090d14 10%, #35435f 90%);
    padding: 20px 0;
    flex-shrink: 0; 
}

.FooterContainer > span{
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
}

