.FooterContainer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #090d14 10%, #35435f 90%);
    padding:2.5rem;
    flex-shrink: 0; 
}

.FooterContainer > span{
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
}

