.FooterContainer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #05080D 0%, rgba(5, 8, 13, 0.7) 100%);
    padding: 3rem 0;
    flex-shrink: 0; 
}

.FooterContainer > span{
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
}

