.responsiveMenu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
    background: linear-gradient(90deg, #05080D 0%, rgba(5, 8, 13, 0.7) 100%);
    opacity: 0;
    transform: translateX(2000px);
    transition-duration: 0.5s;
    display: none;
}

.responsiveMenu > ul{
    list-style: none;
    /* text-align: center; */
    padding: 20px;
    margin: 0;
}

.responsiveMenu > ul > li{
    list-style: none;
    margin: 10px 0;
}

.responsiveMenu > ul > li > a{
    color: #FFFFFF ;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 25px;
}
/* 
@media screen and (min-width: 700px) {
    .responsiveMenu{
        display: none;
    }
} */