.ClientCard{
    width: 500px;
  
    overflow: hidden;
    margin: 10px 10px;
    display: flex;
  justify-content: center;
    
}

.ClientCard > img{
    width:50%;
    
    display: flex;
 
    
}

.image{
    /* display: block; */
    /* margin:auto */
}

.ClientCardContent {
 
    padding: 10px 10px;
}

.ClientCardContent > h3{
    font-size: 20px;
    font-weight: 600;
}

.ClientCardContent > h4{
    color: #000000;
    font-size: 15px;
}

.ClientCardContent > p{
  
    padding: 10px 0;
    font-size: 20px;
}

@media screen and (min-width: 1200px) {
    
.ClientCardContent {
   
    padding: 5px 2px;
}

.ClientCardContent > h3{
    font-size: 20px;
    font-weight: 600;
}

.ClientCardContent > h4{
    color: #000000;
    font-size: 10px;
}

.ClientCardContent > p{
    color: #000000;
    padding:  0;
    font-size: 20px;
}
}

@media screen and (max-width: 1200px) { 
    
    .ClientCardContent {
       
        padding: 5px 2px;
    }
    
    .ClientCardContent > h3{
        font-size: 20px;
        font-weight: 600;
    }
    
    .ClientCardContent > h4{
        color: #000000;
        font-size: 15px;
    }
    
    .ClientCardContent > p{
        color: #000000;
        padding:  0;
        font-size: 20px;
    }
    }




    @media screen and (max-width: 450px){

        .ClientCardContent > p{
            font-size: 15px;
        }

        .ClientCardContent >h5{
            font-size: 15px;
        }
    }