/* index.css */

.SeerInsightsContainer {
  background: #2C3C57;
  padding: 30px 20px; /* Adjusted padding for better responsiveness */
}

.paragraph {
  color: white;
}

.container {
  font-family: 'Comfortaa', sans-serif;
  background-color: rgb(38, 48, 68);
  opacity: 1;
  padding-bottom: 40px;
  width: 100%; /* Ensure full width */
  max-width: 1200px; /* Optional max-width */
  margin: 0 auto; /* Center the container */
}

.SeerInsightsContainer > h2 {
  text-align: center;
  font-size: 2.5rem; /* 40px */
  font-weight: 500;
  padding: 20px 0;
}

.SeerInsightsContainer > p {
  text-align: center !important;
  font-size: 1.875rem; /* 30px */
  font-weight: 400;
  padding: 10px 20px;
  padding-bottom: 30px;
  line-height: 2.5rem; /* 40px */
}

.SeerInsightsImg {
  width: 10%;
  min-width: 150px;
  margin: auto;
}

.SeerInsightsImg > img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .SeerInsightsContainer {
      padding: 10px 10px;
  }

  .SeerInsightsContainer > h2 {
      font-size: 1.875rem; /* 30px */
  }

  .SeerInsightsContainer > p {
      font-size: 1.25rem; /* 20px */
      padding: 10px 5px;
      line-height: 1.5rem; /* 24px */
  }
}

.videoSectionContainer {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  padding: 10px 10px;
}

.videoSectionContainer > div {
  flex: 1 1 100%; /* Allow full width on mobile */
  padding: 10px 10px;
}

.videoSectionRightSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .videoSectionContainer {
      flex-direction: row; /* Row layout for larger screens */
  }

  .videoSectionContainer > div {
      flex: 1; /* Equal width */
  }
}
