.SeerInsightsContainer{
    background: #2C3C57;
    padding: 30px 50px;
}

.SeerInsightsContainer > h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    padding: 20px 0;
}

.SeerInsightsContainer > p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 50px;
    padding-bottom: 20px;
    line-height: 80px;
}

.SeerInsightsImg{
    /* width: 250px; */
    width: 10%;
    min-width: 150px;
    margin: auto;
}

.SeerInsightsImg > img{
    width: 100%;
}

@media screen and (max-width: 700px) {
    .SeerInsightsContainer{
        padding: 10px 10px;
    }    

    .SeerInsightsContainer > p {
        padding: 10px 5px;
        padding-bottom: 10px;
        line-height: 40px;
    }
}

.videoSectionContainer{
    display: flex;
    /* padding: 10px 10px; */
}

.videoSectionContainer > div{
    width: 50%;
    padding: 10px 10px;
}

.videoSectionLeftSection{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    margin: 0 20px;
}

.videoSectionLeftSection > p > span{
    color:#f4f0f0;
    font-weight: 700;
    font-size: 15px !important;
}

.videoSectionRightSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .videoSectionContainer{
        flex-direction: column-reverse;
        /* padding: 10px 0px; */
    }

    .videoSectionContainer > div{
        width: 100%;
    }
        
    .videoSectionLeftSection{
        padding: 5px 5px;
        margin: 0 0px;
    }
}



.videoSectionContainer{
    display: flex;
    padding: 10px 10px;
}

.videoSectionContainer > div{
    width: 50%;
    padding: 10px 10px;
}

.videoSectionLeftSection{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    line-height: 42px;
    text-align: left;
    color: #ffffff;
    padding: 10px 10px;
    margin: 0 20px;
}

.videoSectionLeftSection > p > span{
    color:#ffffff;
    font-weight: 700;
    font-size: 15px !important;
}

.videoSectionRightSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .videoSectionContainer{
        flex-direction: column-reverse;
        padding: 10px 0px;
    }

    .videoSectionContainer > div{
        width: 100%;
    }
        
    .videoSectionLeftSection{
        padding: 5px 5px;
        margin: 0 0px;
    }
}